body {
    background: linear-gradient(to right, #ededed, #1b41ec);
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#select-card {
    margin: 200px auto;
    width: 300px;
    height: 400px;
    background-color: rgba(58, 220, 26, 0.353);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

#from-card #from {
    margin: 20px auto;
    width: 100px;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

#to-card #to {
    margin: 20px auto;
    width: 100px;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

option {

    font-size: 15px;
    font-weight: bold;
}

#input-card #text-input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

label {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    alignment-baseline: central;
}

#convert-card button {
    border: none;
    outline: none;
    background-color: #1b41ec;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#convert-card button:hover {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

#result-area {
    color: black;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: white;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}